{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuCode Admin | Dashboard</title>
    <!-- Link to favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'App_Admin/image/admin_brain_company_icon_no_bg.ico' %}">
    
    <link rel="stylesheet" href="{% static 'App_Admin/admin.css' %}">

    <script>
        
    </script>
    
</head>
<body>
    <div class="container mt-5">
        <div class="logo">
            <img src="{% static 'App_Admin/image/admin_removebg_preview.png' %}" alt="Company Logo">
        </div>

        <h1>NeuCode Admin | Dashboard</h1>

        
</body>
</html> 
